body{
    background: linear-gradient(0deg, #2bff00 0%, #0987ee 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

.fixed-top {
    background-color:rgba(0, 0, 0, 0.425);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

li{
    display: inline;
    margin: 0.2em;
}

a{
    padding: 0.5em;
    text-decoration: none;
}

.snake{
    height: auto;
    padding: 5em;
    margin: 5em;
}

a{
    color: aliceblue;
}

.img{
    float: left;
    width: auto;
    text-align: center;
}

.para{
    font-family: 'Big Shoulders Display', cursive;
}


